#two{
    background-color: rgb(45, 45, 200);
    color: white;
    margin: 10px;
    border-radius: 20px;
    

}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
#one{
    background-color: rgb(28, 184, 28);
    color: white;
    font-weight: bold;
    margin: 10px;
    border-radius: 20px;

}
#ii{

        background: #f09433; 
      background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
      background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
      background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
      color: white;
      font-weight: bold;
      margin: 10px;
      border-radius: 20px;
}